<div class="ui stackable four column grid">

    <% if (userid && username) { %>
    <div class="centered row">
        <a>
            <div class="ui animated blue big button" id="create-post" tabindex="0">
                <div class="visible content">Create a review post</div>
                <div class="hidden content">
                    Share your experience
                </div>
            </div>
        </a>

    </div>
    <% } %>


    <div class="row" id="filter-row">

        <h2 class="ui header">Filter<i class="fas fa-filter -icon"></i>
            <div>
                <div class="ui compact menu">
                    <div class="ui search selection dropdown" id="filter-dropdown-f">
                        <div class="default text" style="color: black;">
                            <% if (f_tag) { %>
                            <%= f_tag %>
                            <% } else { %>
                            Tag
                            <% } %>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <!-- <div class="item ">Tag 1</div>
                                                            <div class="item">Tag 2</div> -->
                            <% for (const t of tag) { %>
                            <a class="item" href="/filter/tag/<%= t %>">
                                <%= t %>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="ui compact menu">
                    <div class="ui search selection dropdown" id="filter-dropdown-d">
                        <div class="default text" style="color: black;">
                            <% if (d_tag) { %>
                            <%= d_tag %>
                            <% } else { %>
                            District
                            <% } %>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <!-- <div class="item ">Tag 1</div>
                                        <div class="item">Tag 2</div> -->
                            <% for (const d of district) { %>
                            <a class="item" href="/filter/district/<%= d %>">
                                <%= d %>
                            </a>
                            <% } %>
                        </div>
                    </div>

                </div>

                <script>
                    $('#filter-dropdown-d').dropdown();
                    $('#filter-dropdown-f').dropdown();
                </script>

                <% if (userid && username) { %>
                <a href="/filter/mypost" class="ui teal button">My posts</a>
                <% } %>

                <a href="/filter/clear" class="ui button">Clear <i class="fas fa-eraser -icon"></i></a>
            </div>
        </h2>

        <% if (newest) { %>
        <div class="ui text menu" id="sort-menu">
            <div class="ui header item">Sort by</div>
            <a href="#newest" class="item">
                Newest
            </a>
            <a href="#most" class="item">
                Most Comments
            </a>
            <a href="#highest" class="item">
                Highest rated
            </a>
        </div>
        <% } %>


    </div>

    <% if (newest) { %>
    <%- include('post-normal') %>
    <% } else { %>
    <%- include('post-filtered') %>
    <% } %>


</div>