<div class="form-container">
    <div class="ui coupled modal">
        <div class="ui first modal">
            <div class="header">
                Edit this post
            </div>
            <div class="content">

                <form class="ui form" action="/post/edit/<%= post.post_id %>" method="POST"
                    enctype="multipart/form-data">
                    <div class="required field">
                        <label>Title</label>
                        <input type="text" name="title" placeholder="Title" id="title" value="<%= post.title %>"
                            required>
                        <input type="hidden" name="user_id" value="<%= userid %>">
                    </div>

                    <div class="required field">
                        <label>District</label>
                        <select class="ui dropdown" name="district" id="select-district" required>
                            <option value="">Select district</option>
                            <!-- <option value="q1">Quận 1</option>
                            <option value="q2">Quận 2</option>
                            <option value="q3">Quận 3</option> -->
                            <% for (const d of district) { %>
                            <% if (d === post.district_name) { %>
                            <option value="<%= d %>" selected><%= d %></option>
                            <% } else { %>
                            <option value="<%= d %>"><%= d %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="required field">
                        <label>Tags (will replace current tags)</label>
                        <select name="tags" class="ui search dropdown" multiple="" id="multi-select-tags">
                            <option value="">Tags</option>
                            <!-- <option value="t1">Tag 1</option>
                            <option value="t2">Tag 2</option>
                            <option value="t3">Tag 3</option> -->
                            <% for (const t of tag) { %>

                            <option value="<%= t %>"><%= t %></option>

                            <% } %>
                        </select>
                    </div>

                    <div class="required field">
                        <label>Star rating</label>
                        <select name="star" class="ui dropdown" id="select-star" required>
                            <!-- <option value="">Choose</option> -->
                            <!-- <option value="t1">Tag 1</option>
                                                <option value="t2">Tag 2</option>
                                                <option value="t3">Tag 3</option> -->
                            <% for (let i = 1; i <= 5; i += 0.5) { %>
                            <% if (i === parseFloat(post.star)) { %>
                            <option value="<%= i %>" selected>
                                <%= i %>
                            </option>
                            <% } else { %>
                            <option value="<%= i %>">
                                <%= i %>
                            </option>
                            <% } %>

                            <% } %>

                        </select>
                    </div>

                    <div class="required field">
                        <label>Images (will replace current images)</label>
                        <input type="file" accept=".jpg, .jpeg, .png" name="postimage" id="images" multiple>
                    </div>

                    <div class="required field">
                        <label>Description</label>
                        <textarea spellcheck="false" name="content" id="description"
                            required><%= post.content %></textarea>
                    </div>

                    <div class="ui second modal">
                        <div class="header">
                            Confirmation
                        </div>
                        <div class="content">
                            <h2 class="ui header">Are you sure to edit this post?</h2>
                        </div>
                        <div class="actions">
                            <div class="ui inverted green red button" id="return-form">Return</div>
                            <div class="ui inverted green button" id="continue-form">Yes</div>
                        </div>
                    </div>

                    <div class="actions">
                        <div class="ui inverted red button" id="close-form">Close</div>
                        <div class="ui inverted green button" id="submit-form">Edit</div>
                        <button type="submit" class="ui inverted primary button" id="confirm-submit-form">OK, Let's fix
                            this post</button>
                    </div>


                </form>

            </div>


        </div>
    </div>

</div>