<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/metadata') %>
    <link rel="stylesheet" href="/style.css">
    <title>Lemmi</title>
</head>

<body>
    <% if (userid && username) { %>
    <%- include('partials/nav-Auth') %>
    <% } else { %>
    <%- include('partials/nav-unAuth') %>
    <% } %>
    <img src="/banner.jpg" alt="Banner" id="banner">

    <main>

        <% if (userid && username) { %>
        <%- include('partials/postcreateform') %>
        <% } else { %>
        <h2 class="ui header text-centered"><a href="/login"><button class="ui medium blue button">Login</button></a>to
            start sharing
            delicious food</h2>
        <% } %>


        <div class="ui container">

            <%- include('partials/postsection') %>

        </div>

        <div class="left-aligned-return">
            <a href="#filter-row" class="circular huge ui icon button">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>

    </main>


    <script src="/nav-script.js"></script>
    <script src="/body-script.js"></script>

    <%- include('partials/footer') %>

</body>

</html>