<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/metadata') %>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/postdetail.css">
    <title>Post</title>
</head>

<body>
    <% if (userid && username) { %>
    <%- include('partials/nav-Auth') %>
    <% } else { %>
    <%- include('partials/nav-unAuth') %>
    <% } %>


    <main>

        <!-- delete confirmation -->
        <div class="ui basic modal delete-post">
            <div class="ui icon header">
                <i class="trash alternate icon"></i>
                <h1 class="ui header text-centered color-orange">Deleting your post</h2>
            </div>
            <div class="content">
                <h3 class="ui header text-centered color-orange">The post after deletion can not be recovered, are you
                    sure?</h4>
            </div>
            <div class="actions">
                <form action="/post/<%= post.post_id %>?_method=DELETE" method="POST">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        No
                    </div>
                    <button type="submit" class="ui green ok inverted button">
                        <i class="checkmark icon"></i>
                        Yes
                    </button>
                </form>
            </div>
        </div>

        <div class="ui centered container" id="post-section">

            <div class="row" id="post-info">
                <div class="ui horizontal list" id="left-info">
                    <div class="item">
                        <img class="ui mini circular image" src="/icon.png">
                        <div class="content">
                            <h3 class="ui header">
                                <%= post.user_name %>
                            </h3>
                            <%= post.post_date.toString().split(' ').slice(0, 4).join(' ') %><span id="sub-icon"><i
                                    class="fas fa-globe-asia"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="right-info">
                    <span>
                        <% for(let index = 1; index < parseInt(post.star); index++) { %>
                        <i class="fas fa-star choose"></i>
                        <% } %>
                    </span>
                    <span>At <strong><%= post.district_name %></strong></span>
                    <% if (userid === post.user_id) { %>
                    <div class="ui simple dropdown item">
                        <i class="fas fa-sort-down"></i>
                        <div class="menu">
                            <div class="item" id="post-delete">
                                Delete
                            </div>
                        </div>
                    </div>
                    <% } %>

                </div>

            </div>

            <div class="row" id="post-content">
                <div id="inner-content">
                    <h2 class="ui header"><%= post.title %></h2>
                    <p>
                        <%= post.content %>
                    </p>
                    <div class="ui small images">
                        <img class="ui image" src="/food.jpg" alt="food">
                        <img class="ui image" src="/food.jpg" alt="food">
                        <img class="ui image" src="/food.jpg" alt="food">
                        <img class="ui image" src="/food.jpg" alt="food">
                    </div>

                    <div id="tag-container">
                        <% for(tag of posttag) { %>

                        <h5 class="ui header"><%= tag %></h5>

                        <% } %>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="vote-section">
                    <h2 class="ui header">
                        <% var is_voted = ""; %>
                        <% if (user_vote.indexOf(userid) !== -1) { %>
                        <% is_voted = "color-voted"; %>
                        <% } %>
                        <% if (userid && username) { %>
                        <i class="<%= "fas fa-arrow-up -vote -total " + is_voted %>"></i><span
                            id="up-vote-total"><%= vote.up %></span>
                        <i class="<%= "fas fa-arrow-down -vote -total " + is_voted %>"></i><span
                            id="down-vote-total"><%= vote.down %></span>
                        <% } else {%>
                        <a href="/login" style="color:#103667;"><i
                                class="<%= "fas fa-arrow-up -vote -total " + is_voted %>"></i><span
                                id="up-vote-total"><%= vote.up %></span></a>
                        <a href="/login" style="color:#103667;"><i
                                class="<%= "fas fa-arrow-down -vote -total " + is_voted %>"></i><span
                                id="down-vote-total"><%= vote.down %></span></a>
                        <% } %>
                    </h2>
                </div>
            </div>

            <% if (userid && username) { %>
            <div class="row" id="comment-compose">
                <form action="/comment/create" class="ui form" method="POST">
                    <div class="fields">
                        <input type="hidden" id="post-id" name="post_id" value="<%= postid %>">
                        <input type="hidden" id="user-id" name="user_id" value="<%= userid %>">
                        <!-- <input type="hidden" name="comment_date" value="<%= undefined %>">
                        <input type="hidden" name="report" value="<%= undefined %>"> -->
                        <textarea rows="1" placeholder="Write a comment" spellcheck="false" id="comment" required
                            name="content"></textarea>
                        <button class="ui primary button">Submit</button>
                    </div>

                </form>
            </div>
            <% } else {%>
            <div class="row">
                <h3 class="ui header text-centered">
                    Please login to comment this post
                </h3>
            </div>
            <% } %>


            <div class="row">
                <%- include(`partials/commentsection`) %>
            </div>

        </div>
    </main>

    <script src="/nav-script.js"></script>

    <%- include(`partials/footer`) %>

</body>

</html>